@font-face {
    font-family: Montserrat, Roboto;
    font-style: normal;
    font-weight: 300;
   
}

body {
    margin: 0;
    background-color: #f2f2f2;
	font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

nav {
    height: 52px;
    width: 100%;
    background-color: #841617;
    position: fixed;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
}

header {
    position: fixed;
    float:left;
	
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 60px;
	
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    width: inherit;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: white;
    height: inherit;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 52px;
	box-shadow: none;
    
}

nav a:hover {
    background-color:#9d1b1d;

}

.logo {
    width: 24px;
    height: 32px;
    border: 0;
    vertical-align: middle;
    padding-left: 0;
    
}

.logo-container {
    width: 60px;
    height: 52px;
    background-color: #9d1b1d;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    line-height: 52px;
}

.profile-container {
    width: 60px;
    height: 52px;
    background-color: #9d1b1d;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: right;
	
}
.profile-picture-container {
    display: inline-block;
    align-content: center;
    align-items: right;
    align-content: right;   
    
}

.profile-picture {
    border-style: solid;
    border-color: #9d1b1d;
    border-width: 2px;
    height: 40px;
    float:right;
    border-radius: 50%;
    margin-top: 4px;
    margin-right: 15px;
}

.user-name-position {
    font-family: Montserrat;
	float: right;
    font-size: 11px;
    margin-right: 10px;
    line-height: 4px;
    margin-top: 6px;
}

.user-name {
    color: white;
    margin: 0;
    font-weight: 800;
}

.user-position {
    color: gainsboro;
    margin: 0;
}

.tab-container {
    background-color: white;
    height: 1500px;
    width: 90%;
    align-content: center;
    border-radius: 10px;
    margin-top: 75px;
    float: left;
    left:50%;
    margin-left: 5%;
   
    
}

.menu {
    float: left;
	
}


/*styling for the moveable slides*/

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slide {
    padding: 15px;
    background-color: #2F2F2F;
    margin: 0 0 15px;
    text-align: center;
    color: #FFF;
    border: 2px solid #444;
}

.slide-placeholder {
    background: #DADADA;
    position: relative;
}
.slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #FFF;
}

.slide2 {
    height: 30px;
}
.slide3 {
    height: 50px;
}
.slide4 {
    height: 90px;
}
.slide5 {
    height: 35px;
}
/*************************************************/